 <h2>Sobre mí</h2>
      <p>
       Hola, soy Joel Álvarez y me apasiona todo lo que tenga que ver con la informática y el desarrollo de software. 
       Mi camino en este mundo empezó con el Ciclo Medio de Sistemas Microinformáticos y Redes, donde descubrí lo mucho que disfrutaba montando, reparando y entendiendo cómo funcionan los equipos por dentro. 
       Después decidí dar un paso más y cursé el Ciclo Superior en Desarrollo de Aplicaciones Multiplataforma, que me abrió las puertas a la programación y al desarrollo de aplicaciones.
       Desde entonces no he parado de aprender y poner en práctica lo que sé. He pasado por varias etapas: desde mantenimiento de equipos de oficina, 
       pasando por mis primeras prácticas en desarrollo web, hasta un intenso bootcamp Fullstack, donde reforcé mi manejo de tecnologías como Angular, CSS, MySQL, Git y GitHub. 
       También he hecho incursiones en Java, SQL, XML, Swift y TypeScript, siempre con la curiosidad de seguir ampliando mi caja de herramientas.
       Pero mi experiencia no se limita solo a lo técnico. También he trabajado en diferentes sectores (textil, producción, logística) y cada uno de ellos me ha enseñado algo valioso: 
       trabajo en equipo, paciencia, empatía y adaptabilidad. Gracias a todo ello, hoy me siento preparado para afrontar proyectos variados, aprender rápido y aportar valor a cualquier equipo.
        Soy una persona creativa, curiosa y con muchas ganas de crecer en el mundo del desarrollo. Me encanta resolver problemas, experimentar con nuevas tecnologías y compartir conocimientos. Además, hablo español, gallego (Celga 3) y tengo un nivel B1 de inglés, lo que me ayuda a comunicarme y aprender en entornos diversos.
        En definitiva, me defino como alguien en constante evolución, que disfruta tanto del proceso de aprendizaje como de los resultados.
      </p>