<header class="header">
        <div class="tittle-container">
          <div class="name">
            <h2>Página de presentación</h2>
            <h1 class="big-tittle">Joel Álvarez Rodríguez</h1>
            
          </div>
          <img src="fotoCara.PNG" alt="Foto de perfil" class="foto-perfil">

        </div>
</header>
<nav>
    <ul class="navbar">
        <li><a routerLink="/sobre-mi" routerLinkActive="active">Sobre mí</a></li>
        <li><a routerLink="/habilidades" routerLinkActive="active">Habilidades técnicas</a></li>
        <li><a routerLink="/proyectos" routerLinkActive="active">Proyectos</a></li>
        <li><a routerLink="/contacto" routerLinkActive="active">Contacto</a></li>
    </ul>
</nav>